[submodule "src/market"]
	path = src/market
	url = https://github.com/letovo-dev/market.git
[submodule "src/letovo-soc-net"]
	path = src/letovo-soc-net
	url = https://github.com/letovo-dev/letovo-soc-net.git
[submodule "src/letovo-secrets"]
	path = src/letovo-secrets
	url = https://github.com/letovo-dev/letovo-secrets.git
[submodule "src/letovo-all-frontend"]
	path = src/letovo-all-frontend
	url = git@github.com:letovo-dev/letovo-all-frontend.git
